<appSettings>
    <!--////////////////Mongo//////////////////-->
    <add key="MongoEnableShard" value="false"/>
    <add key="VDMSDataProviderType" value="MongoDB"/>
    <add key="DataProvider" value="VDMS.ContentRepository.Core.DataProvider.MongoClient.Provider" />

    <!-- remove this or empty to use VDMSService -->
    <add key="SearchServiceType" value="Solr"/>
    <add key="SolrKey" value="VDMS5"/>
    <add key="MaxIndexProcess" value="16"/>
    <add key="UseSolrACL" value="true"/>
    <add key="SolrStore" value="true"/>
    <add key="SolrBuildAutoSuggest" value="false"/>
    <add key="BuildSearchResultFromDb" value="false"/>

    <!-- Vietbando -->
    <add key="PersistentCookieTimeout" value="525600"/>
    <add key="ServiceHost" value="192.168.10.194"/>
    <add key="ListIndexHost" value="192.168.10.194"/>
    <add key="RenderService" value="192.168.10.194"/>
    <add key="StreetService" value="192.168.10.194"/>
    <add key="StreetPort" value="500"/>

    <add key="RouteServiceHost" value="192.168.10.128"/>
    <add key="RouteServicePort" value="8008"/>

    <add key="EncryptKey" value="5ifztnWr3IehwdcU4TjFPQ=="/>
    <add key="AjaxEncryptKey" value="abcfgi"/>

    <add key="MapDefaultURL" value="http://images.vietbando.com/ImageLoader/GetImage.ashx?Ver=2015&amp;LayerIds=RC_VN&amp;Level={z}&amp;X={x}&amp;Y={y}"/>
    <add key="MapTerrainURL" value="http://images.vietbando.com/ImageFeeder/ImageLoader.ashx?TYPE=TERRAIN&amp;Level={z}&amp;X={x}&amp;Y={y}"/>
    <add key="MapBitmapURL" value="http://testing.vietbando.com/VtileService/VTileService.svc/rest/GetTile?layers=HCMAerial,HCMAerial1516&amp;z={z}&amp;X={x}&amp;Y={y}"/>

    <add key="MapLabelURL" value="http://testing.vietbando.com/SatelliteImagesText/mapimageservice.ashx?Action=GetTiles&amp;Level={z}&amp;X={x}&amp;Y={y}"/>
    <add key="MapPlotlandURL" value="http://testing.vietbando.com/plotlandmapimagesws/mapimageservice.ashx?Action=GetTiles&amp;Level={z}&amp;X={x}&amp;Y={y}"/>
    <add key="MapSatelliteURL" value="http://testing.vietbando.com/SatelliteImagesws/mapimageservice.ashx?Action=GetTiles&amp;Level={z}&amp;X={x}&amp;Y={y}"/>

    <!-- Vietbando Search: vietbando/solr-->
    <add key="LocationSearchType" value="vietbandoapi"/>

    <!-- Options for Search type is vietbandoapi-->
    <add key="VietbandoPPServiceUrl" value="http://developers.vietbando.com/V2/Service/PartnerPortalService.svc"/>
    <add key="VietbandoPPRegisterKey" value="e4ec3051-7fe6-49e5-ba32-9bd5ac5a3d93"/>

    <!-- Observers -->
    <!-- 
     ** (note: restart website for reload cache)
     ** VDMS observers supported:
    VDMS.Library.Provider.Observers.VDMSIndexObserver
    VDMS.Library.Provider.Observers.SolrIndexObserver
    VDMS.Library.Provider.Observers.DataSyncObserver
    VDMS.Library.Provider.Observers.EventObserver
    VDMS.Library.Provider.Observers.SolrACLObserver
    -->
    <add key="DisabledNodeObservers" value="" />
    <!-- Async for observers -->
    <!-- 
     ** (note: just support VDMSIndex & SolrIndex)
     -->
    <add key="VDMSIndexObserver" value="true" />
    <add key="SolrIndexObserver" value="false" />

    <!-- SecurityCacheType: Default|Redis|Database -->
    <add key="SecurityCacheType" value="Database"/>
    <add key="SecurityCacheRedisEndpoints" value="192.168.10.116:6379"/>
    <add key="SecurityCacheRedisSyncTimeout" value="00:00:15"/>
    <add key="ApplicationName" value="VDMS5"/>

    <!-- Workflow -->
    <!--<add key="WorkflowDefinitionPath" value="/Root/System/Workflows/" />
    <add key="WorkflowPhysicsPath" value="D:\Projects\VBD_2015\DMS\Solution\PTMS\Library\PTMS.Workflow.Library " />
    <add key="WorkflowContainer" value="/Root/VDMS/HeThong/WorkflowContainer" />
    <add key="LayerStatusOfWorkflow" value="3" />
    <add key="VBDWorkflow" value="VBDWorkflow" />-->

    <!--App Config-->
    <add key="DefaultAppcalitionRedirect" value="/" />
    <add key="DefaultLoginPage" value="~/app/accounts/login" />
    <add key="DefaultLogoutPage" value="~/app/accounts/logout.aspx" />

    <!-- Domain -->
    <add key="ADFullDomain" value="@vbd.com"/>
    <!-- Please mark down this like when this user got admin rights -->
    <add key="ADAdminAccount" value="khaivinh@vbd.com"/>

    <add key="PublicUserName" value="public"/>
    <add key="PublicUserPassword" value="public"/>

    <!--HistoryMode: Advanced|Simple or Advanced or Simple. Default: Simple. Advanced: save props with IsHistory=1 to go_?_history; Simple: save all props to go_?_data_history-->
    <add key="VDMSHistoryMode" value="Simple"/>

    <add key="LoadAllEntities" value="false"/>
    <add key="NewGetACL" value="true"/>

    <!-- VDMSSync -->
    <!-- VDMSSyncType: RabbitMQ: use RabbitMQ. Others: do nothing -->
    <add key="VDMSSyncType" value="" />
    <add key="VDMSSyncQueueHost" value="192.168.10.194"/>
    <add key="VDMSSyncVirtualHost" value="/"/>
    <add key="VDMSSyncExchange" value="VDMSSync"/>
    <add key="VDMSSyncQueueUserName" value="vbd"/>
    <add key="VDMSSyncQueuePassword" value="vbd"/>
    <add key="VDMSSyncQueuePort" value="5672"/>

    <!-- VDMSEventLog -->
    <!-- VDMSEventLogType: MongoDB: use MongoDB. Others: do nothing -->
    <add key="VDMSEventLogType" value="MongoDB" />

    <!--Workflow Oracle-->
    <add key="WorkflowDataProvider" value="Oracle"/>

    <!--Mail server-->
    <add key="NotyMailServer" value="mail.vietbando.vn"/>
    <add key="NotyMailPort" value="25"/>
    <add key="NotyMailEnableSsl" value="false"/>

    <add key="AnalyticsUserControlPath" value="~/App/Shared/analytic/AnalyticsUserControl.ascx"/>

    <!-- WFS - WMS -->
    <add key="WFSMaxFeatures" value="10000"/>
    <add key="WFSServiceURL" value="http://localhost/VDMS4/WFSService.svc/rest/WFS?"/>
    <add key="MapnikServer" value="192.168.10.224:8008"/>
    <!-- RenderType: tile/bound
    Note: use tile if request base map | different result between two render type 
    HACK: add url param: renderType=tile / renderType=bound -->
    <add key="RenderType" value="bound"/>
    <add key="VDMSRenderUrl" value="http://192.168.10.42/VDMS.Render"/>
    <!-- PDFMode: advance or simple -->
    <add key="PDFMode" value="advance"/>
    <!-- SearchProvider: solr/... -->
    <add key="SearchProvider" value="solr"/>
    <!-- ACL Index LayerName : solr/... -->
    <add key="ACLLayerName" value="VDMS_SOLR_ACL"/>

    <!-- API Config -->
    <add key="DefaultLimit" value="100"/>
    <add key="DefaultLoadAllProperties" value="true"/>


    <!--Mail Server-->
    <add key="NotyMailServer" value="smtp.gmail.com" />
    <add key="NotyMailPort" value="587" />
    <add key="NotyMailEnableSsl" value="True" />
    <add key="EmailSender" value="duongthuynoidiahcm@gmail.com" />
    <add key="EmailPassword" value="duongthuynoidiahcm!@#" />
  
    <add key="VDMS_LIMIT_DOWNLOAD_RECORD" value="10000" />
    <add key="BinaryHandlerName" value="FileHandler.ashx" />
</appSettings>