<!--VDMS VERSION: 2017.07.26.001-->
<client>
    <!--VDMSService-->
    <endpoint address="http://10.222.0.101:10100/VDMSService/LayerService" behaviorConfiguration="VBDBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="LayerService.LayerService" name="WSHttpBinding_LayerService" />
    <endpoint address="http://10.222.0.101:10100/VDMSService/ResourceService" behaviorConfiguration="VBDBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="ResourceService.ResourceService" name="WSHttpBinding_ResourceService" />

    <!--RepositoryService-->
    <endpoint address="http://10.222.0.101:9200/DataBase/RepositoryService/rest" binding="customBinding" bindingConfiguration="CustomBinding_RepositoryService" contract="RepositoryService.RepositoryService" name="CustomBinding_RepositoryService" />

    <!--PlacesSearchService-->
    <endpoint address="http://10.222.0.101/PlaceService/PlacesService.svc" binding="basicHttpBinding" contract="PlacesService.IPlacesService" name="BasicHttpBinding_IPlacesService" />

    <!--MapRender-->
    <endpoint address="http://192.168.10.125:9900/MapRenderService/MapService" behaviorConfiguration="VBDBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="MapRenderService.MapService" name="WSHttpBinding_MapRenderService" />

    <endpoint address="http://10.222.0.13/SharedReportService.svc/soap" binding="basicHttpBinding" contract="SharedReportService.SharedReportService" name="BasicHttpBinding_SharedReportService" />
</client>