<!--VDMS VERSION: 2017.07.26.001-->
<extensions>
    <behaviorExtensions>
        <add name="ExtendedWebHttp" type="VDMS.Service.Library.Behavior.ExtendedWebHttpElement, VDMS.Service.Library"/>
        <add name="Token" type="VDMS.Service.Library.Behavior.TokenElement, VDMS.Service.Library"/>
        <add name="CorsSupport" type="VDMS.Service.Library.Behavior.CorsSupportBehaviorElement, VDMS.Service.Library" />
        <add name="WFSHttp" type="VDMS.Service.Library.Behavior.WFSHttpElement, VDMS.Service.Library"/>
        <add name="WMSHttp" type="VDMS.Service.Library.Behavior.WMSHttpElement, VDMS.Service.Library"/>
    </behaviorExtensions>
</extensions>