<?xml version="1.0" encoding="utf-8" ?>
<!--VDMS VERSION: 2017.07.26.001-->

<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="ErrorRollingLogFileAppender"/>
        <appender-ref ref="InfoRollingLogFileAppender"/>
        <appender-ref ref="DebugRollingLogFileAppender"/>
        <appender-ref ref="MongoDBAppender"/>
    </root>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="log/Error.log" />
        <encoding value="unicodeFFFE" />
        <appendToFile value="true" />
        <datePattern value="-dd.MM.yyyy'.log'" />
        <rollingStyle value="Date" />
        <maxSizeRollBackups value="10" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{HH:mm:ss} %m%n" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR" />
            <levelMax value="ERROR" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="VDMSDataProvider" />
            <acceptOnMatch value="false" />
        </filter>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="log/Info.log" />
        <encoding value="unicodeFFFE" />
        <appendToFile value="true" />
        <datePattern value="-dd.MM.yyyy'.log'" />
        <rollingStyle value="Date" />
        <maxSizeRollBackups value="10" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{HH:mm:ss} %m%n" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="INFO" />
            <levelMax value="INFO" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="VDMSDataProvider" />
            <acceptOnMatch value="false" />
        </filter>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="log/Debug.log" />
        <encoding value="unicodeFFFE" />
        <appendToFile value="true" />
        <datePattern value="-dd.MM.yyyy'.log'" />
        <rollingStyle value="Date" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{HH:mm:ss} %m%n" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="DEBUG" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="VDMSDataProvider" />
            <acceptOnMatch value="false" />
        </filter>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
        <!--<connectionString value="mongodb://localhost" />-->

        <connectionStringName value="VDMSConnectionString" />

        <collectionName value="sys_logs" />

        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="INFO"/>
            <levelMax value="ERROR"/>
        </filter>

        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="LogHelper" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="VDMS" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="FileAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="FolderAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="GroupAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="ImportAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="LayerAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="LayerLinkAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="ParameterAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="PortletAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="RegionAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="RemoteWorkflowAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="ReportAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="ResourceMonitorAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="SearchAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="SecurityAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="UserAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="WorkflowAjax" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LoggerMatchFilter">
            <loggerToMatch value="WorkflowEngineAjax" />
            <acceptOnMatch value="false" />
        </filter>

        <field>
            <name value="timestamp" />
            <layout type="log4net.Layout.RawTimeStampLayout" />
        </field>
        <field>
            <name value="level" />
            <layout type="log4net.Layout.PatternLayout" value="%level" />
        </field>
        <field>
            <name value="thread" />
            <layout type="log4net.Layout.PatternLayout" value="%thread" />
        </field>
        <field>
            <name value="logger" />
            <layout type="log4net.Layout.PatternLayout" value="%logger" />
        </field>
        <field>
            <name value="identity" />
            <layout type="log4net.Layout.PatternLayout" value="%identity" />
        </field>
        <field>
            <name value="message" />
            <layout type="Log4Mongo.BsonDocumentLayout, Log4Mongo">
                <key value="messageObject"/>
            </layout>
        </field>
    </appender>
</log4net>
