<!--VDMS VERSION: 2017.07.26.001-->
<services>
    <service name="VDMS.Service.Library.Service.LayerService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.LayerService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.LayerService"/>
    </service>
    <service name="VDMS.Service.Library.Service.NodeService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.NodeService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.NodeService"/>
    </service>
    <service name="VDMS.Service.Library.Service.NotificationService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.NotificationService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.NotificationService"/>
    </service>
    <service name="VDMS.Service.Library.Service.AuthenticationService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.AuthenticationService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.AuthenticationService"/>
    </service>
    <service name="VDMS.Service.Library.Service.UploadSoapService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.UploadSoapService"/>
    </service>
    <service name="VDMS.Service.Library.Service.UploadRestService">
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.UploadRestService"/>
    </service>
    <service name="VDMS.Service.Library.Service.UserManagerService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.UserManagerService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.UserManagerService"/>
    </service>
    <service name="VDMS.Service.Library.Service.ConnectedSystemService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.ConnectedSystemService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.ConnectedSystemService"/>
    </service>
    <service name="VDMS.Service.Library.Service.StateMachineService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.StateMachineService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Service.Library.Service.StateMachineService"/>
    </service>
    <service name="VDMS.Service.Library.Service.WFSService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.WFSService"/>
        <endpoint address="rest" behaviorConfiguration="wfs" binding="webHttpBinding" contract="VDMS.Service.Library.Service.WFSService"/>
    </service>
    <service name="VDMS.Service.Library.Service.WMSService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Service.Library.Service.WMSService"/>
        <endpoint address="rest" behaviorConfiguration="wms" binding="webHttpBinding" contract="VDMS.Service.Library.Service.WMSService"/>
    </service>
    <service name="VDMS.Report.Library.Services.SharedReportService">
        <endpoint address="soap" binding="basicHttpBinding" contract="VDMS.Report.Library.Services.SharedReportService"/>
        <endpoint address="rest" behaviorConfiguration="web" binding="webHttpBinding" contract="VDMS.Report.Library.Services.SharedReportService"/>
    </service>
</services>