@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<form id="frmForgotPassword" class="login-form" action="@Url.Action("SendEmail", "Account")" method="post">
    <h4 style="color: #fd9e9e">Quên mật khẩu?</h4>
    <p style="color: #d6e04e!important;font-style: italic;">Vui lòng nhập email. Chúng tôi sẽ gửi đường dẫn khởi tạo mật khẩu qua email của bạn.</p>
    <input type="text" placeholder="Email của bạn..." name="email" required />
    <p id="messageEl" style="color: #eca299; font-size: 12px">@(ViewData.ModelState["Error"] != null ? ViewData.ModelState["Error"].Errors[0].ErrorMessage : "")</p>
    <button><i class="fa fa-sign-in"></i> Gửi email</button>
    <div class="row" style="padding: 1em">
        <a href="@Url.Action("Login", "Account")" style="color: #c1f9cd;"><i class="fa fa-undo"></i> Quay lại trang đăng nhập</a>
    </div>
</form> 

<script>
    $(document).ready(function (e) {
        $('#frmForgotPassword').submit(function (e) {

            var patternEmail = /\S+@@\S+\.\S+/;

            var email = $('input[name="email"]').val();
            var messageEl = $('#frmForgotPassword #messageEl');

            if (!patternEmail.test(email)) {
                messageEl.html("Email không chính xác");
                return false;
            }

            return true;
        });
    });
</script>
