<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="../Content/css/images/favicon.ico" />
    <title>Đăng nhập - Quản lý hạ tầng giao thông trên địa bàn thành phố Hồ Chí Minh </title>

    <link href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css">
    <link href="~/Content/css/login-v1.css" rel="stylesheet" />
    <link href="~/Content/css/util.css" rel="stylesheet" />


</head>

<body>
    @*<div class="main">
        <div class="form-wrap">
            <div class="form">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/css/images/logo-TIMS2.png")">
                </div>
                <div class="title">
                    <h2>Hệ thống quản lý hạ tầng giao thông<br />Thành phố Hồ Chí Minh</h2>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>*@

    
@RenderBody()

</body>
</html>