<?xml version="1.0" encoding="utf-8"?>
<!--
  Web.config VDMS5_MVC version 2017.10.06_001
  -->
<configuration>
    <configSections>
        <section name="combres" type="Combres.ConfigSectionSetting, Combres" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <!--<sectionGroup name="ajaxNet">
            <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true" />
        </sectionGroup>-->
        <!-- Search Service base on Solr-->
        <sectionGroup name="vietbando.services">
            <section name="search" type="Vietbando.Search.Configuration.SearchConfigurationSection, Vietbando.Search.Configuration" />
        </sectionGroup>
        <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    </configSections>
    <combres definitionUrl="~/App_Data/minres.xml" />
    <log4net configSource="Config\log4net.config" />
    <!-- Search Service base on Solr-->
    <vietbando.services>
        <!--<search hostServer="http://192.168.10.140:8985/solr" maxViewableResult="1000000000" numShards="4" replicationFactor="1" maxShardsPerNode="4" rows="3000000" />-->
        <search hostServer="http://10.222.0.150:8987/solr" maxViewableResult="1000000000" numShards="1" replicationFactor="1" maxShardsPerNode="1" rows="3000000" />
    </vietbando.services>
    <connectionStrings configSource="Config\db.config" />
    <appSettings file="Config\appSettings.config">
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="owin:appStartup" value="VDMS5_MVC.Startup" />
    </appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
    <system.web>
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.6.2" />
        <!--<httpRuntime targetFramework="4.6.1" />-->
        <httpRuntime targetFramework="4.0" executionTimeout="14400" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" />
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        </httpModules>
    </system.web>
    <system.serviceModel>
        <!--Jel: set aspNetCompatibilityEnabled=true to use HttpContext.Current in WCF. Context null -> admin (Core SenseNet)-->
        <!--Jel: use serviceActivations for no physical .svc file-->
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
            <serviceActivations>
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="LayerService.svc" service="VDMS.Service.Library.Service.LayerService" />
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="NodeService.svc" service="VDMS.Service.Library.Service.NodeService" />
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="AuthenticationService.svc" service="VDMS.Service.Library.Service.AuthenticationService" />
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="UploadSoapService.svc" service="VDMS.Service.Library.Service.UploadSoapService" />
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="UploadRestService.svc" service="VDMS.Service.Library.Service.UploadRestService" />
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="UserManagerService.svc" service="VDMS.Service.Library.Service.UserManagerService" />
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="WFSService.svc" service="VDMS.Service.Library.Service.WFSService" />
                <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="SharedReportService.svc" service="VDMS.Report.Library.Services.SharedReportService"/>
            </serviceActivations>
        </serviceHostingEnvironment>
        <behaviors>
            <endpointBehaviors>
                <behavior name="VBDBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
                <behavior name="web">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <!--Jel: ExtendedWebHttp extend from webHttp and take care of fault exception to json-->
                    <!--Jel: defaultOutgoingResponseFormat=Json for return default json-->
                    <!--Jel: defaultBodyStyle=Bare for clean json return (instead of Wrapped)-->
                    <ExtendedWebHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare" faultExceptionEnabled="true" />
                    <CorsSupport />
                </behavior>
                <behavior name="wfs">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <WFSHttp helpEnabled="true" defaultOutgoingResponseFormat="Xml" defaultBodyStyle="Bare" faultExceptionEnabled="true" />
                    <CorsSupport />
                </behavior>
                <behavior name="wms">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <WMSHttp helpEnabled="true" defaultOutgoingResponseFormat="Xml" defaultBodyStyle="Bare" faultExceptionEnabled="true" />
                    <CorsSupport />
                </behavior>
                <behavior name="DefaultBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <!--<HelpPage/>-->
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <!--<OAuthToken/>-->
                    <!--<MessageLogger/>-->
                    <!--Jel: Token for validate user-->
                    <Token />
                </behavior>
                <behavior name="VBDBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:11:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_RepositoryService">
                    <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" maxSessionSize="2147483647">
                        <readerQuotas maxDepth="1024" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
                    </binaryMessageEncoding>
                    <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" />
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Default" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:11:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_Tracking" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:11:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
            <webHttpBinding>
                <binding hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </webHttpBinding>
        </bindings>
        <extensions configSource="Config\extensions.config" />
        <client configSource="Config\clients.config" />
        <services configSource="Config\services.config" />
    </system.serviceModel>
    
    <system.webServer>
        <handlers>
            <!--<add name="AjaxPro" verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2" />-->

            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />

            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="FormsAuthentication" />
            <remove name="WebDAVModule" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <system.identityModel configSource="Config\identity.config" />
    <location path="ajaxpro">
        <system.webServer>
            <handlers>
                <add verb="*" path="*.ashx" name="AjaxPro" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
            </handlers>
        </system.webServer>
        <system.web>
            <httpHandlers>
                <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
            </httpHandlers>
        </system.web>
    </location>
    
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.7.3.0" newVersion="1.7.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NetTopologySuite.IO.GeoJSON" publicKeyToken="f580a05016ebada1" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.13.3.0" newVersion="1.13.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    
</configuration>